%container {
  width: 1400px;
  margin: 0 auto;

  h2 {
    color: #0F0F0F;
    font-size: 48px;
    font-weight: 600;

    span {
      color: #002FA7;
    }
  }
}

%img-animation {
  transition: all .3s ease;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0);
  }
}

