%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  column-gap: 10px;
  width: 280px;
  height: 48px;
  transition: all .3s ease;
}

.mainBtn {
  @extend %btn;
  background-color: #032EA7;
  color: #fff;

  &:hover {
    background-color: #012693;
  }
}

.secondaryBtn {
  @extend %btn;
  background-color: #E2E2E2;
  color: #6A6A6A;

  &:hover {
    background-color: #dadada;
  }
}