.users {
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
  border-collapse: collapse;

  &__row {
    display: grid;
    grid-template-columns: 32% 7% 14% 10% 11% 2%;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 15px 20px;

    &_head {
      background-color: #FAFAFA;
      border-radius: 15px;
    }

    > div {
      &.info {
        display: flex;
        align-items: center;
        column-gap: 10px;

        img {
          width: 41px;
          height: 41px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  &__content {
    overflow: auto;
    height: calc(100vh - 25px - 110px - 25px - 25px - 48px - 15px - 48px - 30px - 49px - 25px);

    .users__row {
      &:not(:last-child) {
        border-bottom: 1px solid #F0F0F0;
      }
    }
  }
}